.content
	.timeline-tweet-box
		.home-tweet-box
			= form_with(model: @tweet, url: tweets_path, local: true) do |f|
				= f.text_field :content, class: 'form__image', placeholder: '今どうしてる？'
				= f.label :image, class: 'icon' do
					= fa_icon 'image'
					= f.file_field :image, class: 'hidden'
				= f.submit 'ツイート', class: 'form__submit'
	.tweet
		= render partial: 'tweet', collection: @tweet_all