.tweet-content
  .tweet-infomation
    %span.fullname
    = current_user.name
    %span.user-name{href:"https://twitter.com/"} @kintaro
    %small.time 30分前
  .tweet-content-text 
    = tweets.content
  .tweet-infomation-footer
    .icon-reply
      = fa_icon 'comment', class: 'icon'
    .icon-retweet
      = fa_icon 'retweet', class: 'icon'
    .icon-favarite
      = fa_icon 'heart', class: 'icon'
    .icon-dm
      = fa_icon 'envelope', class: 'icon'